# Global Solution 2º Semestre 2025 - Plural - Transformaões Iniciais

## Integrantes

RM 563445 - Júlia Ferreira França

RM 563530 - Guilherme Moraes de Sousa

## Descritivo do Projeto

O Plural+ é um quadro de diversidades para empresas

## Código

### Importações

In [145]:
import pandas as pd
import numpy as np

In [146]:
np.random.seed(42) # Fixando a semente de aleatoriedade para todo o documento

### Dataset Empresa Fictícia

**Dataset Kaggle**

A simulação dos dados de funcionários foi realizada a partir de um dataset disponibilizado publicamente pelo Kaggle. Segue o link abaixo:

https://www.kaggle.com/datasets/keremkurt/diversity-equity-and-inclusion-measures-dataset/data

Dicionário de dados (Colunas de Dados Funcionários):
- 'Id' = Identificador Único - numérico
- 'Name' = Nome - string
- 'Surname' = Sobrenome - string
- 'Division' = Departamento - string
- 'Manager' = Cargo Gerencial - "Yes" ou "No"
- 'Gender' = Identidade de Gênero - 'Transgender', 'Male', 'Female', 'Prefer not to say', 'Non-binary/non-conforming', 'Other'
- 'Sexual_Orientation' = Orientação Sexual - 'Heterosexual', 'Prefer not to say', 'Bisexual', 'Homosexual', 'Other'
- 'LGBTQ' = Faz parte da comunidade LGBT - 'Prefer not to say', 'No', 'Yes'
- 'Indigenous' = Indígena - "Yes" ou "No"
- 'Ethnicity' = Etnia - 'White', 'Asian', 'Black', 'Middle Eastern', 'Other', 'Latin', 'Prefer not to say'
- 'Disability' = PCD - 'Yes', 'No', 'Prefer not to say'
- 'Minority' = Auto afirmação se faz parte de uma minoria - 'No', 'Yes', 'Prefer not to say'
- 'Veteran' = Auto afirmação se é veterano - 'No', 'Yes', 'Prefer not to say'
- 'Date of Birth' = Data de nascimento - date
- 'Age' = Idade - int
- 'Preferred Name' = Nome Social
- 'Nationality' = Nacionalidade
- 'Hobbies' = Hobbies
- 'Pronouns' = Pronomes - 'They/them/theirs', 'He/him/his', 'She/her/hers', 'Ze/hir/hirs', 'E/em/eirs', 'Ze/zir/zirs', 'Xe/xem/xyrs'
- 'Mobile Number' = Número de celular - string
- 'Email' = Email - string

Há colunas adicionais referentes à percepção dos funcionários sobre Igualdade, Diversidade e Inclusão na empresa. Essas colunas não foram utilizadas.

In [147]:
dados_originais = pd.read_csv('dados/fontes/DEI Dataset.csv', sep=",", encoding="utf-8")

In [148]:
dados_originais.columns

Index(['Id', 'Name', 'Surname', 'Division', 'Manager', 'Gender',
       'Sexual_Orientation', 'LGBTQ', 'Indigenous', 'Ethnicity', 'Disability',
       'Minority', 'Veteran', 'Date of Birth', 'Age', 'Preferred Name',
       'Nationality', 'Hobbies', 'Pronouns', 'Mobile Number', 'Email',
       'Aug_D_Q1', 'Aug_D_Q2', 'Aug_D_Q3', 'Aug_D_Q4', 'Aug_D_Q5',
       'D_Negative', 'D_Neutral', 'D_Positive', 'Aug_E_Q1', 'Aug_E_Q2',
       'Aug_E_Q3', 'Aug_E_Q4', 'Aug_E_Q5', 'E_Negative', 'E_Neutral',
       'E_Positive', 'Aug_I_Q1', 'Aug_I_Q2', 'Aug_I_Q3', 'Aug_I_Q4',
       'Aug_I_Q5', 'I_Negative', 'I_Neutral', 'I_Positive'],
      dtype='object')

In [149]:
# Verificando se há dados faltando
analise_missings = dados_originais.isna().sum(axis=0).reset_index().rename(columns={'index':'variaveis', 0:'n_missings'})
analise_missings.loc[analise_missings['n_missings']>0]

Empty DataFrame
Columns: [variaveis, n_missings]
Index: []

In [150]:
# Verificando se há duplicatas
dados_originais[dados_originais.duplicated()]

Empty DataFrame
Columns: [Id, Name, Surname, Division, Manager, Gender, Sexual_Orientation, LGBTQ, Indigenous, Ethnicity, Disability, Minority, Veteran, Date of Birth, Age, Preferred Name, Nationality, Hobbies, Pronouns, Mobile Number, Email, Aug_D_Q1, Aug_D_Q2, Aug_D_Q3, Aug_D_Q4, Aug_D_Q5, D_Negative, D_Neutral, D_Positive, Aug_E_Q1, Aug_E_Q2, Aug_E_Q3, Aug_E_Q4, Aug_E_Q5, E_Negative, E_Neutral, E_Positive, Aug_I_Q1, Aug_I_Q2, Aug_I_Q3, Aug_I_Q4, Aug_I_Q5, I_Negative, I_Neutral, I_Positive]
Index: []

[0 rows x 45 columns]

In [151]:
# Selecionando colunas que serão utilizadas
colunas_dados_funcionarios = ['Id', 'Name', 'Surname', 'Division', 'Manager', 'Gender',
       'Sexual_Orientation', 'LGBTQ', 'Indigenous', 'Ethnicity', 'Disability',
       'Minority', 'Veteran', 'Date of Birth', 'Age', 'Preferred Name',
       'Nationality', 'Hobbies', 'Pronouns', 'Mobile Number', 'Email']
dados_funcionarios = dados_originais[colunas_dados_funcionarios].copy()
dados_funcionarios.sample(5, random_state=100)

,Id,Name,Surname,Division,Manager,Gender,Sexual_Orientation,LGBTQ,Indigenous,Ethnicity,...,Minority,Veteran,Date of Birth,Age,Preferred Name,Nationality,Hobbies,Pronouns,Mobile Number,Email
8018,8019,Ellen,Zaoui,IT,Yes,Female,Heterosexual,No,No,White,...,No,No,1997-02-14,25,Ellen,Canadian,Music,She/her/hers,406 725 8116,Ellen.Zaoui@mail.ca
9225,9226,Ron,Rigg,IT,No,Male,Heterosexual,No,No,Asian,...,No,No,1983-01-09,39,Ron,Fijian,Reading,He/him/his,481 140 8480,Ron.Rigg@mail.ca
3854,3855,Anthony,Parr,RD,No,Male,Heterosexual,No,No,White,...,No,No,1984-02-15,38,Anthony,Canadian,Music,He/him/his,233 768 9447,Anthony.Parr@mail.ca
2029,2030,Sebastian,Harris,Operations,No,Male,Heterosexual,No,No,White,...,No,No,1978-05-14,44,Sebastian,Mexican,Music,He/him/his,180 834 6055,Sebastian.Harris@mail.ca
3539,3540,Aisha,Bentley,HR,No,Male,Heterosexual,No,No,White,...,Yes,No,1962-05-23,60,Aisha,Canadian,Video Games,He/him/his,299 840 3096,Aisha.Bentley@mail.ca

**Dataset Funcionarios para Análise**

As transformações do dataset original formaram um novo dataset alinhado aos padrões brasileiros, para análise de diversidade alinhada aos padrões do IBGE e brasileiros de DEI
(diversity, equality, inclusion)

- 'Id'
- 'Nome'
- 'Sobrenome'
- 'Departamento' - 'TI', 'Marketing', 'Financeiro', 'Recursos Humanos', 'Pesquisa e Desenvolvimento', 'Vendas', 'Operações'
- 'Cargo' - 'Gerente' ou 'Subordinado'
- 'Grau de escolaridade' - 'Fundamental Completo', 'Médio Completo',    'Superior Completo', 'Pós-Graduação/Especialização'
- 'Número Grau de escolaridade' - 1, 2, 3, 4 - classificação numérica
- 'Grau Minoria' - Dentre as Minorias Presentes, quantas o funcionário faz parte (0-5)
- 'Salário' - float - definido de forma aleatória dentro da faixa salarial de cada departamento + cargo

GÊNERO

- 'Gênero Social' - 'Mulher', 'Homem', 'Não Binário', 'Outro', 'Prefere Não Informar' *meta associada a MULHER E NÃO BINÁRIO
- 'Identidade de Gênero' - 'Cisgênero', 'Transgênero', 'Outro', 'Prefere Não Informar' *meta associada a pessoas TRANS
- 'Gênero' - 'Homem Cisgênero', 'Mulher Cisgênero', 'Homem Transgênero', 'Mulher Transgênero', 'Não Binário', 'Prefere Não Informar', 'Outro'

ORIENTAÇÃO SEXUAL

- 'Orientação Sexual' - 'Heterossexual', 'Bissexual', 'Homossexual', 'Pansexual', 'Assexual', 'Outro', 'Prefere Não Informar'
- 'Orientação Sexual_Minoria' - 'Não Heterossexual', 'Heterosexual', 'Prefere Não Informar' *meta associada a pessoas NÃO HETERO

ETNIA

- 'Etnia' - 'Branca', 'Preta', 'Parda', 'Amarela', 'Indígena', 'Não Declarada'
- 'Etnia_Minoria' - 'Branca/Amarela', 'Parda/Preta/Indígena', 'Não Declarada' - Divisão da Categoria em 2 grupos *meta associada a pessoas PPI

PCD

- 'Classificacao_PCD' - 'Física', 'Auditiva', 'Visual', 'Intelectual', 'Psicossocial',  'Múltipla', 'Reabilitado (INSS)'
- 'PCD' - 'Sim', 'Não', 'Prefere Não informar' - Divisão da Categoria em 2 grupos *meta associada a pessoas PDC

ETARIEDADE

- 'Idade' - idade
- 'Faixa Etária' - '50-(<50)' ou '50+(>=50)' - Divisão da Categoria em 2 grupos *meta associada a pessoas '50+'

#### Departamento

In [152]:
# Tradução dos valores
dicionario_departamentos = {
    'IT': 'TI',
    'Marketing': 'Marketing',
    'Finance': 'Financeiro',
    'HR': 'Recursos Humanos',
    'RD': 'Pesquisa e Desenvolvimento',
    'Sales': 'Vendas',
    'Operations': 'Operações'
}
dados_funcionarios['Departamento'] = dados_funcionarios['Division'].map(dicionario_departamentos)
dados_funcionarios[['Name', 'Departamento']].sample(5, random_state=100)

           Name                Departamento
8018      Ellen                          TI
9225        Ron                          TI
3854    Anthony  Pesquisa e Desenvolvimento
2029  Sebastian                   Operações
3539      Aisha            Recursos Humanos

In [153]:
dados_funcionarios['Departamento'].unique()

array(['TI', 'Marketing', 'Financeiro', 'Recursos Humanos',
       'Pesquisa e Desenvolvimento', 'Vendas', 'Operações'], dtype=object)

#### Cargo

In [154]:
# Cargo
# Atribuição de Valores
dicionario_cargos = {
    'Yes': 'Gerente',
    'No': 'Subordinado'
}
dados_funcionarios['Cargo'] = dados_funcionarios['Manager'].map(dicionario_cargos)
dados_funcionarios[['Name', 'Cargo']].sample(5, random_state=100)

           Name        Cargo
8018      Ellen      Gerente
9225        Ron  Subordinado
3854    Anthony  Subordinado
2029  Sebastian  Subordinado
3539      Aisha  Subordinado

#### Definindo Grau de Minorias

In [155]:
# Essa coluna será alterada a cada nova coluna de minoria criada a seguir
dados_funcionarios['Grau Minoria'] = 0

#### Gênero, Gênero Social e Identidade de Gênero

In [156]:
dados_funcionarios['Gênero'] = dados_funcionarios['Gender']
dados_funcionarios.loc[dados_funcionarios['Gênero']=='Transgender'].groupby('Pronouns').size()

Pronouns
E/em/eirs            9
They/them/theirs    56
Xe/xem/xyrs         15
Ze/hir/hirs          6
Ze/zir/zirs         11
dtype: int64

In [157]:
dicionario_genero = {
    'Transgender': 'Trans',
    'Male': 'Homem Cisgênero',
    'Female': 'Mulher Cisgênero',
    'Prefer not to say': 'Prefere Não Informar',
    'Non-binary/non-conforming' : 'Não Binário',
    'Other': 'Outro'
}
dados_funcionarios['Gênero'] = dados_funcionarios['Gender'].map(dicionario_genero)

# Visto que todas as pessoas trans utilizam pronomes neutros, será adotado um critério aleatório para definir se será homem ou mulher trans
pessoas_trans = dados_funcionarios['Gender'] == 'Transgender'
dados_funcionarios.loc[pessoas_trans, 'Gênero'] = np.random.choice(
    ['Mulher Transgênero', 'Homem Transgênero'],
    size=pessoas_trans.sum()
)
dados_funcionarios.loc[pessoas_trans][['Name', 'Gender', 'Gênero']].sample(5, random_state=100)

           Name       Gender              Gênero
8606      Rufus  Transgender  Mulher Transgênero
7325       Mike  Transgender  Mulher Transgênero
2338  Johnathan  Transgender   Homem Transgênero
2427       Drew  Transgender   Homem Transgênero
3829    Michael  Transgender   Homem Transgênero

In [158]:
dados_funcionarios.groupby('Gênero').size()

Gênero
Homem Cisgênero         5902
Homem Transgênero         54
Mulher Cisgênero        3388
Mulher Transgênero        43
Não Binário              110
Outro                    106
Prefere Não Informar     397
dtype: int64

In [159]:
# Criar coluna de Gênero Social
mapa_genero_social = {
    'Homem Cisgênero': 'Homem',
    'Homem Transgênero': 'Homem',
    'Mulher Cisgênero': 'Mulher',
    'Mulher Transgênero': 'Mulher',
    'Não Binário': 'Não Binário',
    'Outro': 'Outro',
    'Prefere Não Informar': 'Prefere Não Informar'
}

dados_funcionarios['Gênero Social'] = dados_funcionarios['Gênero'].map(mapa_genero_social)


# Criar coluna de Identidade de Gênero
mapa_identidade = {
    'Homem Cisgênero': 'Cisgênero',
    'Mulher Cisgênero': 'Cisgênero',
    'Não Binário': 'Outro',
    'Outro': 'Outro',
    'Homem Transgênero': 'Transgênero',
    'Mulher Transgênero': 'Transgênero',
    'Prefere Não Informar': 'Prefere Não Informar'
}

dados_funcionarios['Identidade Gênero'] = dados_funcionarios['Gênero'].map(mapa_identidade)

In [160]:
# Adicionando Grau de Minoria
dados_funcionarios.loc[(dados_funcionarios['Gênero Social']=='Mulher') | (dados_funcionarios['Gênero Social']=='Não Binário'), 'Grau Minoria'] += 1
dados_funcionarios.loc[(dados_funcionarios['Identidade Gênero']=='Transgênero'), 'Grau Minoria'] += 1

In [161]:
# Verificando resultado
dados_funcionarios.groupby('Grau Minoria').size()

Grau Minoria
0    6405
1    3552
2      43
dtype: int64

#### Orientação Sexual, Orientação Sexual Minoria

In [162]:
# Verificando Valores
dados_funcionarios.groupby('Sexual_Orientation').size()

Sexual_Orientation
Bisexual              103
Heterosexual         8406
Homosexual            407
Other                 112
Prefer not to say     972
dtype: int64

In [163]:
# Traduzindo
dicionario_orientacao_sexual = {
    'Heterosexual': 'Heterossexual',
    'Bisexual': 'Bissexual',
    'Homosexual': 'Homossexual',
    'Prefer not to say': 'Prefere Não Informar',
    'Other': 'Outro'
}
dados_funcionarios['Orientação Sexual'] = dados_funcionarios['Sexual_Orientation'].map(dicionario_orientacao_sexual)

In [164]:
# Visto que no estudo não haviam as opções pansexual e assexual - vamos substituir alguns outros por assexual, e alguns bissexuais por pansexual

# Substituição de Outros por Assexual (20%)
outros = dados_funcionarios['Sexual_Orientation'] == 'Other'
n_outros = outros.sum()
valores_outros = ['Assexual'] * (n_outros//5) + ['Outro'] * (n_outros-(n_outros//5))
np.random.shuffle(valores_outros)
dados_funcionarios.loc[outros, 'Orientação Sexual'] = valores_outros
dados_funcionarios.loc[outros].groupby('Orientação Sexual').size()

Orientação Sexual
Assexual    22
Outro       90
dtype: int64

In [165]:
# Substituição de BissexuaL por Pansexual (40%)
bissexuais = dados_funcionarios['Sexual_Orientation'] == 'Bisexual'
n_bissexuais = bissexuais.sum()
valores_bissexuais = ['Pansexual'] * ((n_bissexuais//5)*2) + ['Bissexual'] * (n_bissexuais-((n_bissexuais//5)*2))
np.random.shuffle(valores_bissexuais)
dados_funcionarios.loc[bissexuais, 'Orientação Sexual'] = valores_bissexuais
dados_funcionarios.loc[bissexuais].groupby('Orientação Sexual').size()

Orientação Sexual
Bissexual    63
Pansexual    40
dtype: int64

In [166]:
dados_funcionarios.groupby('Orientação Sexual').size()

Orientação Sexual
Assexual                  22
Bissexual                 63
Heterossexual           8406
Homossexual              407
Outro                     90
Pansexual                 40
Prefere Não Informar     972
dtype: int64

In [167]:
# Definindo a Minoria do Grupo
dados_funcionarios['Orientação Sexual Minoria'] = 'Heterossexual'
dados_funcionarios.loc[dados_funcionarios['Orientação Sexual']!='Heterossexual', 'Orientação Sexual Minoria'] = 'Não Heterossexual' # outro é considerado não hétero
dados_funcionarios.loc[dados_funcionarios['Orientação Sexual']=='Prefere Não Informar', 'Orientação Sexual Minoria'] = 'Prefere Não Informar'

In [168]:
# Adicionando Grau de Minoria
dados_funcionarios.loc[dados_funcionarios['Orientação Sexual Minoria']=='Não Heterossexual', 'Grau Minoria'] += 1

In [169]:
# Verificando resultado
dados_funcionarios.groupby('Grau Minoria').size()

Grau Minoria
0    6010
1    3723
2     264
3       3
dtype: int64

#### Etnia

In [170]:
# Etnia
# Identificando os grupos mais representativos para fazer uma equivalência no brasil
grupos_etnia_kaggle = dados_funcionarios.groupby('Ethnicity').size()
grupos_etnia_kaggle = grupos_etnia_kaggle.to_frame(name='count')
grupos_etnia_kaggle['perc'] = grupos_etnia_kaggle['count'] / grupos_etnia_kaggle['count'].sum()
grupos_etnia_kaggle.sort_values(by='perc', ascending=False)

                   count    perc
Ethnicity
White               7092  0.7092
Asian               1718  0.1718
Black                416  0.0416
Middle Eastern       352  0.0352
Latin                209  0.0209
Prefer not to say    108  0.0108
Other                105  0.0105

In [171]:
# Para atender melhor ao cenário brasileiro, não foi realizada uma tradução e sim uma adaptação
dicionario_etnia = {
    'White': 'Branca',
    'Asian': 'Parda',
    'Black': 'Amarela',
    'Middle Eastern': 'Preta',
    'Latin': 'Preta',
    'Prefer not to say': 'Não declarada',
    'Other': 'Não declarada'
}
dados_funcionarios['Etnia'] = dados_funcionarios['Ethnicity'].map(dicionario_etnia)

In [172]:
# A adição de indígenas será de 0,5% dos registros de forma aleatória
n_total = dados_funcionarios['Id'].count()
n_indigena = round(n_total*0.005)
indigenas = dados_funcionarios.sample(n_indigena, random_state=100)
dados_funcionarios.loc[indigenas.index, 'Etnia'] = 'Indígena'

In [173]:
grupos_etnia = dados_funcionarios.groupby('Etnia').size()
grupos_etnia = grupos_etnia.to_frame(name='count')
grupos_etnia['perc'] = grupos_etnia['count'] / grupos_etnia['count'].sum()
grupos_etnia.sort_values(by='perc', ascending=False)

               count    perc
Etnia
Branca          7053  0.7053
Parda           1710  0.1710
Preta            560  0.0560
Amarela          415  0.0415
Não declarada    212  0.0212
Indígena          50  0.0050

In [174]:
# Adicionando Etnia Minoria
dados_funcionarios['Etnia Minoria'] = 'Não Declarada'
dados_funcionarios.loc[(dados_funcionarios['Etnia']=='Branca') | (dados_funcionarios['Etnia']=='Amarela'),'Etnia Minoria'] = 'Branca/Amarela'
dados_funcionarios.loc[(dados_funcionarios['Etnia']=='Preta') | (dados_funcionarios['Etnia']=='Parda') | (dados_funcionarios['Etnia']=='Indígena'),'Etnia Minoria'] = 'Preta/Parda/Indígena'

In [175]:
# Adicionando Grau de Minoria
dados_funcionarios.loc[dados_funcionarios['Etnia Minoria']=='Preta/Parda/Indígena', 'Grau Minoria'] += 1

In [176]:
# Verificando resultado
dados_funcionarios.groupby('Grau Minoria').size()

Grau Minoria
0    4606
1    4281
2    1040
3      73
dtype: int64

#### PCD

In [177]:
# PDC
dados_funcionarios.groupby('Disability').size()

Disability
No                   8171
Prefer not to say     284
Yes                  1545
dtype: int64

In [178]:
dicionario_pcd = {
  'No': 'Não',
  'Yes': 'Sim',
  'Prefer not to say': 'Prefere Não Informar'
}
dados_funcionarios['PCD'] = dados_funcionarios['Disability'].map(dicionario_pcd)

In [179]:
# Adicionando granularidade para a coluna de PCDs
# Classificaçao Deficiências
tipos_deficiencia = [
    'Física',
    'Auditiva',
    'Visual',
    'Intelectual',
    'Psicossocial',
    'Múltipla',
    'Reabilitado (INSS)'
]
pcds = dados_funcionarios['Disability'] == 'Yes'
dados_funcionarios['Classificação PCD'] = dados_funcionarios['PCD']
dados_funcionarios.loc[pcds, 'Classificação PCD'] = np.random.choice(
    tipos_deficiencia,
    size=pcds.sum()
)
dados_funcionarios.loc[pcds].groupby('Classificação PCD').size()

Classificação PCD
Auditiva              223
Física                234
Intelectual           201
Múltipla              224
Psicossocial          236
Reabilitado (INSS)    218
Visual                209
dtype: int64

In [180]:
# Adicionando Grau de Minoria
dados_funcionarios.loc[(dados_funcionarios['PCD']=='Sim'), 'Grau Minoria'] += 1

In [181]:
# Verificando resultado
dados_funcionarios.groupby('Grau Minoria').size()

Grau Minoria
0    3891
1    4340
2    1536
3     219
4      14
dtype: int64

#### Idade

In [182]:
dados_funcionarios['Idade'] = dados_funcionarios['Age']

In [183]:
dados_funcionarios.loc[dados_funcionarios['Age']>=50, 'Faixa Etária'] = "50+"
dados_funcionarios.loc[dados_funcionarios['Age']<50, 'Faixa Etária'] = "50-"

In [184]:
# Adicionando Grau de Minoria
dados_funcionarios.loc[(dados_funcionarios['Faixa Etária']=='50+'), 'Grau Minoria'] += 1

In [185]:
# Verificando resultado
dados_funcionarios.groupby('Grau Minoria').size()

Grau Minoria
0    3301
1    4247
2    1972
3     427
4      53
dtype: int64

#### Salário

In [186]:
faixas_subordinado = {
    'TI': (3500, 5500),
    'Marketing': (2000, 3200),
    'Financeiro': (2200, 3500),
    'Recursos Humanos': (2000, 3200),
    'Pesquisa e Desenvolvimento': (3200, 5000),
    'Vendas': (1800, 3000),
    'Operações': (1600, 2800),
}

faixas_gerente = {
    'TI': (13000, 18000),
    'Marketing': (10000, 15000),
    'Financeiro': (11000, 16000),
    'Recursos Humanos': (9000, 13500),
    'Pesquisa e Desenvolvimento': (12000, 17000),
    'Vendas': (10000, 15000),
    'Operações': (10000, 14000),
}

def gerar_salario(row):
    cargo = row["Cargo"]
    dep = row["Departamento"]

    if cargo=="Subordinado":
        lim_inf, lim_sup = faixas_subordinado[dep]
    else:
        lim_inf, lim_sup = faixas_gerente[dep]

    return np.random.uniform(lim_inf, lim_sup)

dados_funcionarios["Salário"] = (dados_funcionarios.apply(gerar_salario, axis=1).round(2))

In [187]:
# Diminuindo salários de algumas minorias
# 0 = sem desconto
dados_funcionarios['Fator_Desconto'] = 1.0

dados_funcionarios.loc[dados_funcionarios['Gênero Social'] == 'Mulher', 'Fator_Desconto'] *= 0.97
dados_funcionarios.loc[dados_funcionarios['PCD'] == 'Sim', 'Fator_Desconto'] *= 0.96
dados_funcionarios.loc[dados_funcionarios['Etnia Minoria'] == 'Preta/Parda/Indígena', 'Fator_Desconto'] *= 0.94

dados_funcionarios['Salário'] = dados_funcionarios['Salário'] * dados_funcionarios['Fator_Desconto']

In [188]:
dados_funcionarios['Fator_Desconto'].unique()

array([0.9312  , 1.      , 0.97    , 0.96    , 0.94    , 0.9118  ,
       0.9024  , 0.875328])

#### Grau de escolaridade

In [189]:
quantis = dados_funcionarios['Salário'].quantile([0.19, 0.69, 0.89, 1.00])

q_fundamental_max = quantis[0.19]
q_medio_max = quantis[0.69]
q_superior_max = quantis[0.89]
def atribuir_escolaridade_quantil(row):
    salario = row['Salário']

    # Prioridade 1: Salários muito altos (Top 10%)
    if salario > q_superior_max:
        return 'Pós-Graduação/Especialização'

    # Prioridade 2: Salários altos (70% a 89%)
    elif salario > q_medio_max:
        return 'Superior Completo'

    # Prioridade 3: Salários médios (20% a 69%)
    elif salario > q_fundamental_max:

        # AJUSTE FINO (Opcional, mas recomendado para realismo)
        # Se for um Gerente, damos um pequeno boost de chance para Superior
        if row['Cargo'] == 'Gerente' or row['Etnia'] == 'Branca':
            return np.random.choice(
                ['Médio Completo', 'Superior Completo'],
                p=[0.75, 0.25] # 25% de chance de subir para Superior
            )
        return 'Médio Completo'

    # Prioridade 4: Salários baixos (0% a 19%)
    else:

        # AJUSTE FINO (Opcional)
        # Se for uma minoria, damos um pequeno boost de chance para não ficar no nível mais baixo
        if row['Grau Minoria'] > 2 and row['Etnia'] not in ['Branca']:
            return np.random.choice(
                ['Fundamental Completo', 'Médio Completo'],
                p=[0.85, 0.15] # 15% de chance de subir para Médio
            )
        return 'Fundamental Completo'


dicio_niveis_escolaridade = {
    'Fundamental Completo':1,
    'Médio Completo':2,
    'Superior Completo':3,
    'Pós-Graduação/Especialização':4
}
dados_funcionarios['Grau de escolaridade'] = dados_funcionarios.apply(atribuir_escolaridade_quantil, axis=1)
dados_funcionarios['Número Grau de escolaridade'] = dados_funcionarios['Grau de escolaridade'].map(dicio_niveis_escolaridade)

#### Tranformações Finais

In [190]:
dados_funcionarios.columns

Index(['Id', 'Name', 'Surname', 'Division', 'Manager', 'Gender',
       'Sexual_Orientation', 'LGBTQ', 'Indigenous', 'Ethnicity', 'Disability',
       'Minority', 'Veteran', 'Date of Birth', 'Age', 'Preferred Name',
       'Nationality', 'Hobbies', 'Pronouns', 'Mobile Number', 'Email',
       'Departamento', 'Cargo', 'Grau Minoria', 'Gênero', 'Gênero Social',
       'Identidade Gênero', 'Orientação Sexual', 'Orientação Sexual Minoria',
       'Etnia', 'Etnia Minoria', 'PCD', 'Classificação PCD', 'Idade',
       'Faixa Etária', 'Salário', 'Fator_Desconto', 'Grau de escolaridade',
       'Número Grau de escolaridade'],
      dtype='object')

In [191]:
# Separando dataset com colunas de interesse

dados_funcionarios_final = dados_funcionarios[['Id', 'Name', 'Surname', 'Departamento', 'Cargo', 'Grau Minoria', 'Gênero Social', 'Identidade Gênero', 'Gênero', 'Orientação Sexual', 'Orientação Sexual Minoria', 'Etnia', 'Etnia Minoria', 'Classificação PCD', 'PCD', 'Idade', 'Faixa Etária', 'Grau de escolaridade', 'Número Grau de escolaridade', 'Salário']].copy()
dados_funcionarios_final = dados_funcionarios_final.rename(columns={
    'Name': 'Nome',
    'Surname': 'Sobrenome'
})
dados_funcionarios_final.sample(5, random_state=100)

,Id,Nome,Sobrenome,Departamento,Cargo,Grau Minoria,Gênero Social,Identidade Gênero,Gênero,Orientação Sexual,Orientação Sexual Minoria,Etnia,Etnia Minoria,Classificação PCD,PCD,Idade,Faixa Etária,Grau de escolaridade,Número Grau de escolaridade,Salário
8018,8019,Ellen,Zaoui,TI,Gerente,2,Mulher,Cisgênero,Mulher Cisgênero,Heterossexual,Heterossexual,Indígena,Preta/Parda/Indígena,Não,Não,25,50-,Pós-Graduação/Especialização,4,15829.331254
9225,9226,Ron,Rigg,TI,Subordinado,1,Homem,Cisgênero,Homem Cisgênero,Heterossexual,Heterossexual,Indígena,Preta/Parda/Indígena,Não,Não,39,50-,Médio Completo,2,3530.546000
3854,3855,Anthony,Parr,Pesquisa e Desenvolvimento,Subordinado,1,Homem,Cisgênero,Homem Cisgênero,Heterossexual,Heterossexual,Indígena,Preta/Parda/Indígena,Não,Não,38,50-,Médio Completo,2,3586.889600
2029,2030,Sebastian,Harris,Operações,Subordinado,1,Homem,Cisgênero,Homem Cisgênero,Heterossexual,Heterossexual,Indígena,Preta/Parda/Indígena,Não,Não,44,50-,Médio Completo,2,2320.051600
3539,3540,Aisha,Bentley,Recursos Humanos,Subordinado,2,Homem,Cisgênero,Homem Cisgênero,Heterossexual,Heterossexual,Indígena,Preta/Parda/Indígena,Não,Não,60,50+,Médio Completo,2,2792.354600

### Exportações de Dataset

In [ ]:
dados_funcionarios_final.to_csv('dados/resultados/dados_funcionarios_final.csv', index=False, sep=";", decimal=",")